
.navbar {
  
    background: #D3959B;  
    background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  
    background: linear-gradient(to right, #BFE6BA, #D3959B); 

    /* padding-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-bottom: 1px solid white;
  
}

.title img{
    width: 4.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.navbar div {
    margin-right: 50px;
}

.navbar div a {
    color:blue;
    text-decoration: none;
    background-color: white;
    padding: 7px 18px;
    margin-right: 50px;
    font-size: 18px;
    border-radius: 32px;
}
.navbar div a:hover{
    background-color: rgb(234, 234, 234);
    transition: ease-in-out .2s;
}

.modal-content h2 {
    margin-top: 5px;
    color: black
}
.modal-content div{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.modal-content button{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    justify-content: center;align-items: center;
    display: flex;
    color: red;
    border: 1px solid rgb(146, 0, 0);
    background-color: transparent;
    cursor: pointer;
}
.modal-content button:hover{
    box-shadow:inset 0 -3em 3em rgba(0, 200, 0, 0),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 30%); ;
    transition: ease-in-out .3s;
}
.rules-btn{
    color: red;
}

.modal-content p {
    font-size: 18px;
}

.modal-content button {
    font-size: 16px;
    padding: 5px 15px;
}

.highscore-cont {
    width: 30%;
    color: white
}
.highscore {

    background-color: rgba(26, 20, 20, 0.349);
    max-width: 300px;
    height: 40%;
    margin: 0.5rem auto auto auto;
    /* margin-top: .5rem; */
    border: 3px solid rgb(255, 255, 255);
   
}
@media(max-width: 1020px) {
    .highscore {
      width: 14rem;
     
    }
  }
@media(max-width: 800px) {
    .highscore {
      width: 8rem;
      
    }
    .highscore p{
        font-size: 14px;
     }
     .highscore-cont h1 {
        font-size: 18px;
    }
   
  }
@media(max-width: 600px) {
    .highscore {
      width: 7rem;
      
    }
    .highscore p{
       font-size: 12px;
       
    }
    .highscore-cont h1 {
        font-size: 16px;
    }
  
  }

.highscore-cont h1 {
    text-align: center;
    color: white
}
.highscore p{
    margin-top: .3rem;
    padding-left: .7rem;
    padding-bottom: .2rem;
    border-bottom: 1px dotted white;
}